footer {
    background-color: #895c54;
    display: flex;
    height: 200px;
    padding-bottom: 10px;
    margin-top: 50px;
}

footer div  {
    z-index: 2;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
footer p  {
    z-index: 3;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
footer img  {
    width:80%;
    object-fit: cover;
    opacity: 0.5;
}
.facebook {
    font-size: 50px;
    color: rgb(80, 80, 202);
    margin: 15px  0 15px 0;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width:430px) {
    footer {
        justify-content: center;
        padding-bottom: 0;
        margin-top: 20px;
    }
}
